@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	
}

section {
	
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../images/faq.png")no-repeat;
	background-size: cover;
	background-position: center;
	
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    width: 64px; /* Ajuste a largura conforme necessário */
    height: 64px; /* Ajuste a altura conforme necessário */
}


header .navigation a {
	
	
	color: #000;
	background: #fff;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 2px 15px;
	border-radius: 20px;
	transition: 0.3s;
	transition-property: background;
	
}

header .navigation a:not(:last-child) {
	
	margin-right: 30px;
	
}

header .navigation a:hover {
	
	background: #fff;
	
}

label {
	
	display: none;
	
}

#check {
	
	z-index: 3;
	display: none
	
}

.container {

	margin: 0 40px;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 100px;

}

.container h1 {

	text-align: center;
	color: #ffbf00;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 60px;
	margin-bottom: 30px;

}

.container .tab {

	position: relative;
	background: #fff;
	padding: 0 20px 20px;
	box-shadow: 0 15px 25px rgba(0,0,0,0.05);
	border-radius: 5px;
	overflow: hidden;

}

.container .tab input {

	appearance: none;

}

.container .tab label {

	display: flex;
	align-items: center;
	cursor: pointer;

}

.container .tab label::after {

	content: '+';
	position: absolute;
	right: 20px;
	font-size: 2em;
	color: rgba(0, 0, 0, 0.1);
	transition: transform 1s;

}

.container .tab label:checked ~ label::after {

	transform: rotate(135deg);
	color: #fff;

}

.container .tab label h2 {

	width: 40px;
	height: 40px;
	background: linear-gradient(135deg, #b87e14, #ffbf00);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.25em;
	border-radius: 5px;
	margin-right: 10px;

}

.container .tab label:checked ~ label h2 {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: rgba(255, 255, 255, 0.2);
	font-size: 8em;
	justify-content: flex-end;
	padding: 20px;

}

.container .tab label h3 {

	position: relative;
	font-weight: 500;
	color: #333;
	z-index: 10;

}

.container .tab .content {

	max-height: 0;
	transition: 1s;
	overflow: hidden;

}

.container .tab input:checked ~ .content {

	max-height: 100vh;

}

.container .tab .content p {

	position: relative;
	padding: 10px 0;
	color: #333;
	z-index: 10;

}

@media (max-width: 960px) {
	
	header .navigation {
		
		display: none;
		
	}
	
	label {
		
		display: block;
		font-size: 25px;
		cursor: pointer;
		transition: 0.3s;
		transition-property: color;
		
	}
	
	label:hover {
		
		color: #fff;
		
	}
	
	label .close-btn {
		
		display: none;
		
	}
	
	#check:checked ~ header .navigation {
		
		z-index: 2;
		position: fixed;
		background: rgba(255, 165, 0, 0.9);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}

	#check:checked ~ .container {
		
		z-index: 1;
		background: rgba(255, 165, 0, 0.9);
		
	}
	
	#check:checked ~ header .navigation a {
		
		font-weight: 700;
		margin-right: 0;
		margin-bottom: 50px;
		letter-spacing: 2px;
		background: rgba(0,0,0,0);
		color: #fff;
		
	}
	
	#check:checked ~ header label .menu-btn {
		
		display: none;
		
	}
	
	#check:checked ~ header label .close-btn {
		
		z-index: 2;
		display: block;
		position: fixed;
		
	}
	
	label .menu-btn {
		
		position: absolute;
		
	}
	
	header .logo {
		
		position: absolute;
		bottom: -6px;
		
	}

	.container .tab label h3 {

		position: relative;
		font-size: 20px;
		font-weight: 500;
		color: #333;
		z-index: 10;
	
	}

	.container .tab label h2 {

		width: 40px;
		height: 40px;
		background: linear-gradient(135deg, #b87e14, #ffbf00);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 0.75em;
		border-radius: 5px;
		margin-right: 10px;
	
	}
	
}

@media (max-width: 560px) {
	
	.container .tab label h3 {

		position: relative;
		font-size: 14px;
		font-weight: 500;
		color: #333;
		z-index: 10;
	
	}

	.container .tab label h2 {

		width: 40px;
		height: 40px;
		background: linear-gradient(135deg, #b87e14, #ffbf00);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 0.75em;
		border-radius: 5px;
		margin-right: 10px;
	
	}
	
}